* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --main-color: #54adff;
}

#background-page {
  width: 963px;
  height: 1872px;
  background-image: url(../../image/neko.png);
  padding: 636px 64px 65px;
  box-sizing: border-box;
}

#background-page .__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#background-page .__title-text {
  font-family: "HachiMaruPop-Regular ttf";
  font-size: 50px;
  line-height: 58px;
  color: var(--main-color);
  -webkit-text-stroke: 1px var(--main-color);
}

#background-page .__title-image {
  margin-left: 20px;
  height: 58px;
}

#background-page .__dashboard {
  margin-top: 94px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#background-page .__dashboard-block {
  --block-color: block;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#background-page .__dashboard-block__info {
  margin-left: 30px;
  flex: 1;
}

#background-page .__dashboard-block__info__value {
  margin-top: 42px;
  font-size: 45px;
  font-family: "Gugi-Regular ttf";
  line-height: 56px;
  color: var(--block-color);
}

#background-page .__information {
  margin-top: 135px;
  padding: 0 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#background-page .__information-block {
  display: flex;
  flex-direction: row;
}

#background-page .__information-block__key {
  width: 185px;
}

#background-page .__information-block__value {
  flex: 1;
}

#background-page .__information-block__key, #background-page .__information-block__value {
  line-height: 42px;
  font-size: 28px;
  font-family: "Gugi-Regular ttf";
  color: #b7a89e;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#background-page .__footer {
  margin-top: 90px;
  font-family: "HachiMaruPop-Regular ttf";
  font-size: 22px;
  text-align: right;
  color: #b7a89e;
  -webkit-text-stroke: 0.5px #b7a89e;
}
